body {
	background-color: #CCB69B;
}

.panel {
	border: solid black 2px;
}

form {
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar {
	background: linear-gradient(#610005, #841016);
	color: white;
	border-color: black;
	font-weight: 700;
}

ul {
	list-style-type: none;
}

.flashes > li {
	text-align: center;
	font-weight: bold;
	padding-right: 10%;
	margin: 0px;
}

h1 {
	font-family: "Bebas Neue", "sans-serif"; 
	font-weight: bold;
}

#stats {
	font-weight: bold;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    font-size: 2em;
}

.navbar-toggle {
    z-index:3;
}

.active {
	border: 2px solid white;
}

.navbar-default .navbar-nav > .active > a {
    background-color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}


.navbar-default > .navbar-brand {
    color: white;
}

#submit {
	background: linear-gradient(#610005, #841016);
	border-color: black;
}

#map {
    height: 70%;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}

#genfooter {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: .7rem;
	color: #610005;
	background-color: white;
	font-weight: 500;
}

#bjfooter {
	padding: .7rem;
	color: #610005;
	background-color: white;
	font-weight: 500;
}

h1 {
    text-align: center;
}

#dealerHand {
    width: 100%;
    float: left;
    margin: 15px 0 25px;
}
#playerHand {
    width: 100%;
}

.columnDealer1, .columnDealer2 {
    width: 50%;
    float: left;
}

.columnDealer {
    width: 13%;
    float: left;
}

.columnPlayer {
    width: 13%;
    float: left;
    height: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#box {
    height: 565px;
}

#dealerHand {
    width: 100%;
    float: left;
    margin: 15px 0 25px;
}
#playerHand {
    width: 100%;
}

.columnDealer1, .columnDealer2 {
    width: 50%;
    float: left;
}

.columnDealer {
    width: 13%;
    float: left;
}

.columnPlayer {
    width: 13%;
    float: left;
    height: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#box {
    height: 565px;
}
