{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<html>
	
	{% block styles %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="static/style.css" charset="utf-8">
	{% endblock %}

	<head>
		<title>Deco Casino</title>
	</head>

	{% block body %}
	<body>	
		
		{% block navbar %}
		<nav class="navbar navbar-default" role="navigation">
		  <h1 class="navbar-brand">Deco Casino</h1>
		  <div class="navbar-collapse collapse">
		    <ul class="nav navbar-nav navbar-left">
		        <li class="active"><a href="/">Home</a></li>
		    </ul>
		  </div>
		</nav>

<!-- 		<nav class="navbar navbar-default">
	  		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="/">Deco Casino</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/">Home</a></li>
		    </ul>
		  </div>
		</nav> -->
		{% endblock %}

		{% block content %}
		  <h1>No Content</h1>
		{% endblock %}

		<br><br><br>
		<footer id="genfooter" class="footer">
			<p align="center">Created by Brad Kovacovich and Austin Uetz</p>
		</footer>

	</body>
	{% endblock %}
</html>
