{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
  <h1 class="navbar-brand">Deco Casino</h1>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/map">Find Nearby Casinos</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">User: {{username}}</a></li>
        <li><a href="#" id="credits">{{credits}} Credits</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<button type="button" onclick="drawCard()"">Draw Card</button>
<p id='cardValue'></p>
<script src=static/js/model.js type=text/javascript></script>
<script src=static/js/controller.js type=text/javascript></script>
<script>
	deckList = []
	suits = ['Hearts', 'Diamonds', 'Spades', 'Clubs']
	vals = [2,3,4,5,6,7,8,9,'Jack','Queen','King','Ace']
	for (let i = 0; i < suits.length; i++) {
		for (let j = 0; j < vals.length; j++) {
			card = new Card(suits[i], vals[j])
			deckList.push(card)
		}
	}
	deck = new Deck(deckList)
	deck.shuffle()
	console.log("IT WORKED")
</script>
{% endblock %}