{% extends "base.html" %}

{% block content %}

<h1 align="center">Casino</h1>

<div class="container" padding="10px">

	<form method="GET" action="/" padding="10px">
		<label for="cont">What game would you like to play?</label>
			<select id="cont" name="cont">
				<option>We Have No Games Yet</option>
			</select><br>

		<button type="submit">Submit</button>
	</form>

</div>

<script>
	deckList = []
	suits = ['Hearts', 'Diamonds', 'Spades', 'Clubs']
	vals = [2,3,4,5,6,7,8,9,'Jack','Queen','King','Ace']
	for (let i = 0; i < suits.length; i++) {
		for (let j = 0; j < vals.length; j++) {
			card = new Card(suits[i], vals[j])
			deckList.append(card)
		}
	}
	deck = new Deck(deckList)
</script>
<script src=js/model.js type=text/javascript></script>

{% endblock %}