{% extends "base.html" %}

{% block content %}

<div class="container" padding="10px">

	<h1 align="center">Welcome to the Deco Casino!</h1><br>

	<div class="panel col-md-4 col-md-offset-4 centered" id="login">

		{% if session['logged_in'] %}
		<p>You're logged in already!</p>
		{% else %}

		{{ wtf.quick_form(form, action='/login', form_type='horizontal', horizontal_columns=('sm',4,4), button_map={'submit': 'primary'}) }}<br>

		{% with messages = get_flashed_messages() %}
	  		{% if messages %}
	    		<ul class=flashes>
	    		{% for message in messages %}
	      			<li>{{ message }}</li>
	    		{% endfor %}
	    		</ul>
	 		{% endif %}
		{% endwith %}

		<h3 align="center">Don't Have an Account?</h3>
		{{ wtf.quick_form(form2, method="get", action='/createAccount', form_type='horizontal', horizontal_columns=('sm',4,4), button_map={'submit': 'primary'}) }}

		{% endif %}

	</div>

</div>
{% endblock %}